<div class="container text-white">

    
    <h1 class="text-center p-3 head">Complaint Management System</h1>
    <br>
    <h2 style="color:aqua; font-family:'Times New Roman', Times, serif;">About Web Portal </h2>
    <br>
    <p class="font-italic paragraph">This is Online Complaint Registration and Management system (street light, water pipe leakage, rain water drainage, road).</p>

    <p class="font-italic paragraph">The main purpose of this project is to help the 
        public in knowing their place details and getting 
        their problems solved in online without going to 
        the officer regularly until the problem is solved. 
        By this system the public can save his time and 
        eradicate corruption in government offices. 
        Its main purpose is to provide a smart and easy way 
        through web Application for Complaint registration 
        and its Tracking and eradicating system and thus 
        to prevent Corruption. We want to develop an we 
        application for complaint management system where 
        public can register complaints for street light, 
        water pipe leakage, rain water drainage, road 
        reconstruction and garbage system. 
        Online Road Complaints Registration System To 
        transform the existing manual compliant management system into an automate system. 
        For the better management of complaints to improve efficiency. 
        All the peoples living in housing schemes societies can used our web application for the registration of their complaints within India.</p>

        <br>

        <h3>System Modules:</h3>
        <br>
        <p class="title">User</p>
        <ul class="list">
            <li>Login</li>
            <li>Register</li>
            <li>Post Complaint</li>
            <li>View complaint status</li>
            <li>View profile</li>
        </ul>

        <br>
        <p class="title">Officer</p>
        <ul class="list">
            <li>Login</li>
            <li>Register</li>
            <li>View Complaint</li>
            <li>Update complaint status</li>
            <li>Update proof of work</li>
        </ul>

        <br>
        <p class="title">Admin</p>
        <ul class="list">
            <li>Login</li>
            <li>Generate id & password for officer</li>
            <li>The administrator has the full-fledged rights over the OES.</li>
            <li>Can view the accounts.</li>
        </ul>



        <br>
        <h2 style="color:aqua; font-family:'Times New Roman', Times, serif;">About Devloper </h2>
        
        <div class="col-md">
            <div class="row p-3">

           
                <div class="about p-3">
                    <p>Name : Chirag Rathod </p>
                    <p>About : Full Stack Developer, Passionate about Technology, An Engineering Student at Rk University.</p>
                    <p>Email : rathodchirag183@gmail.com </p>
                </div>
            
                <div>
                    <img class="float-right"  src="assets/Images/developer.png" height="200px" width="150px">
                </div>
            

            </div>
        </div>
        
       
</div>
