input.ng-touched.ng-invalid{
    border: 3px solid red;
    box-shadow: 0 0 14px inset rgba(255, 0, 0, 0.2);
}
textarea.ng-touched.ng-invalid{
    border: 3px solid red;
    box-shadow: 0 0 14px inset rgba(255, 0, 0, 0.2);
}


textarea.ng-touched.ng-valid{
    border: 3px solid rgb(23, 219, 23);
}
input.ng-touched.ng-valid{
    border: 3px solid rgb(23, 219, 23);
}