<br>
<div class="container text-white">
    
    <div class="row">
        <div (click)="complaintRegistry()" class="col-sm m-3 text-center">
            <img src="assets/Images/dashboard/message.png" height="60px" width="60px">
            <h4>Complaint Registry</h4>
        </div>

        <div (click)="officerReport()" class="col-sm m-3 text-center">
            <img src="assets/Images/dashboard/report.png" height="60px" width="60px">
            <h4>Report</h4>
        </div>
      </div> 
</div>