<br>

<div class="container text-white">
    <div class="row">
        <div (click)="createOfficerAccount()" class="col-sm m-3 text-center">
            <img src="assets/Images/admdashboard/officer.ico" height="75px" width="75px">
            <h4>Create Officer Account</h4>
        </div>

        <div (click)="allUsers()" class="col-sm m-3 text-center">
            <img src="assets/Images/dashboard/user.png" height="75px" width="75px">
            <h4>All Users</h4>
        </div>

        <div (click)="allreport()" class="col-sm m-3 text-center">
            <img src="assets/Images/dashboard/report.png" height="75px" width="75px">
            <h4>All Report</h4>
        </div>
        
      </div> 
</div>