<br>
<div class="text-success m-3">
    <h5>Login as : {{CurrentLoginEmail}}</h5>
</div>
<br>
<div class="container text-white">
    
    <div class="row">
        <div (click)="postComplaint()" class="col-sm m-3 text-center">
            <img src="assets/Images/dashboard/message.png" height="45px" width="45px">
            <h4>Post Complaint</h4>
        </div>

        <div (click)="myComplaints()" class="col-sm m-3 text-center">
            <img src="assets/Images/dashboard/status.png" height="45px" width="45px">
            <h4>My Complaints</h4>
        </div>

        <div (click)="myProfile()" class="col-sm m-3 text-center">
            <img src="assets/Images/dashboard/user.png" height="45px" width="45px">
            <h4>My Profile</h4>
        </div>
      </div> 
</div>