<div class="container">
    <br>
    <div class="text-light text-center m-3">
        <h3>My Profile</h3>
    </div>

    <div class="text-light m-3">

        <h4><b>First Name </b> </h4>
        <h5>
            <div *ngIf="User.isEdit">
                <input type="text" [(ngModel)]="User.firstname">
            </div>
        
            <div *ngIf="!User.isEdit">
                <span>{{User.firstname}}</span>
            </div>
        </h5>
        <br/>

        <h4><b>Last Name </b> </h4>
        <h5>
            <div *ngIf="User.isEdit">
                <input type="text" [(ngModel)]="User.lastname">
            </div>
        
            <div *ngIf="!User.isEdit">
                <span>{{User.lastname}}</span>
            </div>
        </h5>
        <br/>

        <h4><b>Mobile Number </b> </h4>
        <h5>
            <div *ngIf="User.isEdit">
                <input type="text" [(ngModel)]="User.mobile_number">
            </div>
        
            <div *ngIf="!User.isEdit">
                <span>{{User.mobile_number}}</span>
            </div>
        </h5>
        <br/>


        <h4><b>Address </b> </h4>
        <h5>
            <div *ngIf="User.isEdit">
                <input type="text" [(ngModel)]="User.address">
            </div>
        
            <div *ngIf="!User.isEdit">
                <span>{{User.address}}</span>
            </div>
        </h5>
        <br/>


            <h4><b>Action : </b></h4>
            <div  *ngIf="!User.isEdit">
                <button class="btn btn-info m-1" (click)="isEdit(User)">Edit</button>
            </div>
            <div *ngIf="User.isEdit">
                <button class="btn btn-success m-1" (click)="update(User)">Update</button>
                <button class="btn btn-primary m-1" (click)="cancel(User)">Cancel</button>
            </div>
   
   </div>
</div>
